<div class="jumbotron text-center text-white">
  <div class="container">
    <h1 class="display-4">About Alpha Blog</h1>
    <p class="lead">We believe that blogging transforms the educational experience of anyone.</p>
  </div>
</div>


<div class="text-center mb-3">
  <%= link_to '[ Return to article listing ]', articles_path, class: "text-success" %> |
  <%= link_to '[ Home ]', root_path, class: "text-success" %>
</div>

