<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead font-weight-bold">Share your story with the world. Want to create something meaningful? Why not start a blog?</p>
    <hr class="my-4">
    <p>So you’re thinking about starting a blog, but you don’t have any idea where to start, right? Guess what—neither did we!</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>