<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "2020 | Luis Polanco", "http://localhost:3000/", class: "text-white" %></small>
  </div>
</footer>